.btn{
	.font-header;
	margin: 0;
	padding: 0 15px;
	border :0;
	height: 33px;
	line-height: 33px;
	font-size: 13px;
	text-transform: uppercase;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	background: @color-link;
	.transition(0.2s);
	&:hover{
		background: darken(@color-link,10%);
	}
}