@import url('http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,300,300italic,600,600italic,700,700italic,900&subset=latin,latin-ext');
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic&subset=latin,latin-ext');
@import url('../fontello/css/prague-medical.css');
.font-primary{
	font-family:'Source Sans Pro',Arial,Helvetica,sans-serif;
}
.font-header{
	font-family:'Titillium Web',sans-serif;
}
.font-icon{
	font-family:'prague-medical';
}
