.mod_search{
	position: relative;
	overflow: hidden;
	float: right;
	width: 220px;
	padding: 3px 20px 18px 0;
	input[type=text]{
		.border-radius(4px);
		.transition();
		position: absolute;
		right: 40px;
		top: 13px;
		color: @color-link;
		margin: 0;
		padding: 5px 10px;
		width: 0px;
		outline: 0;
		border: 1px solid @color-blue;
		&:hover{
			.box-shadow(0 0 10px @color-blue);
		}
	}
	&:hover input[type=text]{
		width: 140px;
	}
	input[type=submit]{
		.border-radius(24px);
		.font-icon;
		.transition();
		position: relative;
		float: right;
		margin: 0;
		padding: 0;
		height: 48px;
		width: 48px;
		font-size: 18px;
		color: @color-blue;
		border: 7px solid @color-blue;
		.text-shadow(1px 1px 3px rgba(0,0,0,0.5));
		.box-shadow(1px 1px 3px rgba(0,0,0,0.5));
		background: #fff;
		&:hover{
			border-color: @color-link;
		}
	}
}
.mod_custom-header{
	position: relative;
	width: 980px;
	height: 403px;
	margin: auto;
	text-align: left;
	.condensed &{
		height: 276px;
	}
	.slide1{
		position: absolute;
		left: 0;
		margin-left: -10px;
		top: 0;
		img{
			display: block;
		}
	}
	.slide2{
		position: absolute;
		z-index: 1;
		right: 0;
		bottom: 0;
		img{
			display: block;
		}
	}
	.slide3{
		.font-header;
		position: absolute;
		left: 0;
		top: 0;
		margin-left: 370px;
		height: 308px;
		width: 195px;
		padding: 54px 315px 0 100px;
		text-align: right;
		text-transform: uppercase;
		font-style: italic;
		color: @color-link;
		font-size: 16px;
		line-height: 1.2;
		background: url(../images/bg/01.png) no-repeat;
		.condensed &{
			padding-top: 28px;
		}
		h2{
			font-weight: normal;
			font-size: 24px;
			line-height: 1.2;
			margin: 0 0 5px;
			color: @color-primary;
		}
	}
}
.mod_menu-main{
	width: 980px;
	margin: auto;
	text-align: left;
	.mod-title{
		.font-header;
		float: left;
		margin: 0;
		a{	
			position: relative;
			display: block;
			width: 130px;
			margin: 0;
			padding: 39px 0 0 74px;
			text-transform: uppercase;
			color: #fff;
			font-size: 18px;
			font-weight: 600;
			line-height: 1.2;
			text-decoration: none;
			text-shadow: 1px 1px rgba(0,0,0,0.2);
			&:before{
				.font-icon;
				position: absolute;
				content: '\e802';
				left: -5px;
				top: 20px;
				font-size: 54px;
				line-height: 1;
				width: 80px;
				height: 80px;
				line-height: 80px;
				text-align: center;
			}
			&:hover{
				color: darken(@color-link,10%);
				text-shadow: none;
				&:before{
					font-size: 62px;
					text-shadow: 1px 1px 0 #fff;
				}
			}
		}
		&.act{
			&:before{
				content: '\e804';
			}
		}
	}
	ul{
		.reset-ul;
		float: left;
		width: 759px;
		padding: 51px 0 0 17px;
		li{
			.reset-li;
			.font-header;
			position: relative;
			margin: 0 0 0 21px;
			height: 56px;
			position: relative;
			float: left;
			font-size: 18px;
			line-height: 1;
			text-transform: uppercase;
			font-style: italic;
			&.act:before{
				position: absolute;
				content: '';
				left: 50%;
				bottom: 0;
				margin-left: -3px;
				border: 7px solid transparent;
				border-bottom-color: @color-link;
				border-bottom-width: 16px;
			}
			a{
				display: inline-block;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
					color: @color-blue;
				}
			}
			&.act{
				a{
					color: @color-blue;
				}
			}
			&.home{
				top: -10px;
				a{
					.border-radius(20px);
					position: relative;
					text-indent: -9999px;
					width: 40px;
					height: 40px;
					background: @color-blue;
					color: #fff;
					.transition();
					&:hover{
						background: @color-link;
					}
					&:before{
						position: absolute;
						.font-icon;
						top:0;
						left:0;
						width: 100%;
						height: 100%;
						font-size: 20px;
						line-height: 40px;
						font-style: normal;
						text-align: center;
						content: '\e80b';
						text-indent: 0;
					}
				}
			}
		}
	}
}
.mod_menu-submenu{
	width: 940px;
	padding: 0 20px 0;
	margin: auto;
	text-align: left;
	ul{
		.reset-ul;
		.clearfix;
		margin: 0 0 0 24px;
		li{
			.reset-li;
			.font-header;
			position: relative;
			float: left;
			text-transform: uppercase;
			font-style: italic;
			font-size: 15px;
			line-height: 1;
			margin: 0 0 0 30px;
			padding: 25px 0;
			a{
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			&.act{
				&:before{
					position: absolute;
					content: '';
					left: 50%;
					bottom: 0;
					margin-left: -3px;
					border: 7px solid transparent;
					border-bottom-color: #fff;
					border-bottom-width: 16px;
				}
				a{
					font-weight: bold;
				}
			}
		}
	}
}
.mod_custom-intro{
	margin: 0 0 43px;
	h1{
		.font-header;
		color: @color-primary;
		font-style: italic;
		font-weight: normal;
		font-size: 24px;
		line-height: 1.2;
		margin: 0 0 22px;
		mark{
			background: none;
			font-weight: 600;
		}
	}
	.item{
		position: relative;
		padding: 12px 0 0 132px;
		margin: 0 -10px 10px 0;
		min-height: 90px;
		.icon{
			.border-radius(48px);
			position: absolute;
			left: 8px;
			top: 8px;
			height: 96px;
			width: 96px;
			line-height: 92px;
			text-align: center;
			font-size: 50px;
			background: @color-link;
			color: #fff;
			&.icon-user-md{
				font-size: 58px;
			}
		}
		p{
			margin: 0 0 10px;
		}
	}
	nav{
		padding: 0 0 0 132px;
		margin: -15px 0 0;
		&:before{
			.font-icon;
			content: '\e80c';
			margin: 0 12px 0 0;
			color: @color-blue;
		}
	}
}
.mod_newsflash_xart{
	position: relative;
	padding: 42px 0 0;
	background: url(../images/bg/05.png) no-repeat center -1px;
	.mod-title{
		.font-header;
		font-style: italic;
		font-size: 18px;
		line-height: 1.2;
		margin: 0 0 30px;
		text-transform: uppercase;
	}
	section{
		margin: 0 60px 0 50px;
	}
	article{
		position: relative;
		padding: 0 0 0 82px;
		width: 228px;
		font-size: 15px;
		time{
			.font-header;
			position: absolute;
			left: 0;
			top: 0;
			width: 67px;
			height: 100%;
			font-size: 18px;
			line-height: 1.2;
			font-weight: 600;
			color: @color-link;
			background: url(../images/bg/06.png) no-repeat right 2px;
			span{
				display: block;
				font-weight: 300;
			}
		}
		h2{
			.font-primary;
			font-size: 16px;
			line-height: 1.2;
			font-weight: bold;
			margin: 0 0 2px;
		}
	}
	.cycle-prev,.cycle-next{
		position: absolute;
		top: 94px;
		left: -18px;
		font-size: 40px;
		z-index: 999;
		line-height: 1;
		color: @color-blue;
		text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
		&:hover{
			color: @color-link;
		}
	}
	.cycle-next{
		left: auto;
		right: -18px;
	}
}
.mod_custom-kontakt{
	position: relative;
	padding: 3px 0 30px 0;
	&:before{
		position: absolute;
		content: '';
		z-index: 99;
		left: 0;
		top: 50px;
		width: 12px;
		height: 625px;
		background: url(../images/bg/07.png) no-repeat;
	}
	.mod-title{
		.font-header;
		text-transform: uppercase;
		font-size: 22px;
		line-height: 1.2;
		font-style: italic;
		font-weight: 600;
		color: #919191;
		margin: 0 0 25px;
	}
	.box_01{
		.top{
			.border-radius(0 20px 0 0);
			padding: 20px 30px;
			font-size: 15px;
			background: #97e0f6;
			strong{
				color: @color-link;
			}
			address{
				font-style: normal;
			}
			nav{
				.font-header;
				position: relative;
				font-weight: bold;
				font-size: 17px;
				padding: 9px 0 0 35px;
				&:before{
					.font-icon;
					position: absolute;
					left: 2px;
					top: 8px;
					content: '\e80a';
					color: #fff;
					text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
					font-size: 22px;
				}
			}
		}
		.bottom{
			.border-radius(0 0 20px 0);
			padding: 10px 30px 20px;
			font-size: 17px;
			line-height: 1.3;
			background: #b6e9f9;
			.oh-title{
				color: @color-link;
				font-weight: bold;
			}
		}
	}
	.box_02{
		.top{
			.border-radius(0 20px 20px 0);
			position: relative;
			z-index: 1;
			padding: 25px 30px 20px;
			margin: 0 0 -20px;
			background: #afd42b;
			color: #fff;
			.phone-title{
				.font-header;
				position: relative;
				padding: 0 50px 0 0;
				font-style: italic;
				text-transform: uppercase;
				font-size: 18px;
				line-height: 1.2;
				margin: 0 0 15px;
				&:before{
					.font-icon;
					position: absolute;
					top:-3px;
					right: 6px;
					font-size: 48px;
					line-height: 1;
					font-weight: normal;
					font-style: normal;
					content: '\e807';
					text-shadow: -1px -1px 1px rgba(0,0,0,0.2);
				}
			}
			.phone{
				.font-header;
				font-weight: 900;
				font-size: 25px;
				line-height: 1;
				white-space: nowrap;
				margin: 0 0 5px;
				text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
				small{
					font-weight: 300;
					font-size: 15px;
				}
			}
		}
		.bottom{
			.border-radius(0 0 20px 0);
			position: relative;
			padding: 46px 30px 27px;
			background: #d7e995;
			.mail-title{
				text-transform: uppercase;
				font-size: 18px;
				line-height: 1.2;
				font-style: italic;
				margin: 0 0 2px;
			}
			a{
				color: @color-primary;
			}
		}
	}
}
.mod_menu-vysetreni{
	padding: 8px 0 40px;
	.mod-title{
		.font-header;
		font-size: 18px;
		line-height: 1.2;
		text-transform: uppercase;
		font-style: italic;
		color: #919191;
		font-weight: 600;
		margin: 0 0 25px;
	}
	ul{
		.reset-ul;
		li{
			.reset-li;
			.font-header;
			position: relative;
			padding: 0 0 18px 52px;
			font-size: 18px;
			line-height: 1;
			img{
				position: absolute;
				left: 0;
				top: -9px;
			}
			a{
				text-decoration: none;
				&:hover{
					color: @color-blue;
				}
			}
			&.act{
				a{
					font-weight: bold;
					color: @color-blue;
				}
			}
		}
	}
}
.mod_menu-footer{
	width: 470px;
	float: left;
	ul{
		.reset-ul;
		.clearfix;
		padding: 10px 0;
		li{
			.reset-li;
			.font-header;
			float: left;
			margin: 0 0 0 16px;
			text-transform: uppercase;
			font-style: italic;
			font-size: 13px;
			line-height: 1;
			a{
				text-decoration: none;
				color: #919191;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}