@font-face {
  font-family: 'prague-medical';
  src: url('../font/prague-medical.eot?85646474');
  src: url('../font/prague-medical.eot?85646474#iefix') format('embedded-opentype'),
       url('../font/prague-medical.woff?85646474') format('woff'),
       url('../font/prague-medical.ttf?85646474') format('truetype'),
       url('../font/prague-medical.svg?85646474#prague-medical') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'prague-medical';
    src: url('../font/prague-medical.svg?85646474#prague-medical') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "prague-medical";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e80b'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-down-open:before { content: '\e80e'; } /* '' */
.icon-left-open:before { content: '\e80d'; } /* '' */
.icon-right-open:before { content: '\e80c'; } /* '' */
.icon-up-open:before { content: '\e80f'; } /* '' */
.icon-left-circled:before { content: '\e801'; } /* '' */
.icon-right-circled:before { content: '\e802'; } /* '' */
.icon-up-circled:before { content: '\e803'; } /* '' */
.icon-flag:before { content: '\e80a'; } /* '' */
.icon-circle:before { content: '\e805'; } /* '' */
.icon-circle-empty:before { content: '\e806'; } /* '' */
.icon-user-md:before { content: '\e809'; } /* '' */
.icon-medkit:before { content: '\e808'; } /* '' */
.icon-down-open-big:before { content: '\e812'; } /* '' */
.icon-left-open-big:before { content: '\e811'; } /* '' */
.icon-right-open-big:before { content: '\e810'; } /* '' */
.icon-up-open-big:before { content: '\e813'; } /* '' */
.icon-down-circled:before { content: '\e804'; } /* '' */