
.icon-search:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e80b'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-down-open:before { content: '\e80e'; } /* '' */
.icon-left-open:before { content: '\e80d'; } /* '' */
.icon-right-open:before { content: '\e80c'; } /* '' */
.icon-up-open:before { content: '\e80f'; } /* '' */
.icon-left-circled:before { content: '\e801'; } /* '' */
.icon-right-circled:before { content: '\e802'; } /* '' */
.icon-up-circled:before { content: '\e803'; } /* '' */
.icon-flag:before { content: '\e80a'; } /* '' */
.icon-circle:before { content: '\e805'; } /* '' */
.icon-circle-empty:before { content: '\e806'; } /* '' */
.icon-user-md:before { content: '\e809'; } /* '' */
.icon-medkit:before { content: '\e808'; } /* '' */
.icon-down-open-big:before { content: '\e812'; } /* '' */
.icon-left-open-big:before { content: '\e811'; } /* '' */
.icon-right-open-big:before { content: '\e810'; } /* '' */
.icon-up-open-big:before { content: '\e813'; } /* '' */
.icon-down-circled:before { content: '\e804'; } /* '' */